# ========= SPRING BOOT / JAVA =========
EmpujeComunitario.zip
HELP.md
target/
.mvn/wrapper/
*.class
*.log
*.iml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

# ========= PYTHON =========
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.log

# Virtualenv
.venv/
env/
venv/
.env

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# ========= COMMON =========
.DS_Store
Thumbs.db
*.tmp
*.swp
*.sqlite3
ServerPython/app/ong_pb2.py
ServerPython/app/ong_pb2_grpc.py
ServerPython/ong_pb2.py
ServerPython/ong_pb2_grpc.py
